@media only screen and (max-width:500px) and (min-width:200px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        min-height: max-content;
        background-color: rgb(45, 45, 45);
    }
    .navbar {
        background-color: rgb(45, 45, 45);
        width: 100%;
        min-height: 350px;
    }
    .navbar .description {
        left: 0.5rem;
        top: 0;
        width: 50%;
        height: 320px;
    }
    .navbar .link {
        right: 0.2rem;
        top: 0.1rem;
        width: 40%;
        height: 320px;
    }
    .link ul li {
        display: inline-block;
        list-style-type: none;
        margin: 0.5rem;
        padding: 3px;
    }
    .navbar .link .btn-contact {
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 4px;
    }
    body .prewiev {
        width: 95%;
        min-height: 340px;
        border-radius: 5px;
        left: 0.5rem;
        right: auto;
        background-color: #373737;
    }
    .prewiev .img_profile {
        width: 130px;
        height: 130px;
        border: 3px solid rgb(233, 123, 33);
        border-radius: 30%;
        margin-left: 0;
    }
    .prewiev .ıntro {
        right: 0;
        width: 60%;
        min-height: 300px;
    }
    body .edu {
        margin-top: 2rem;
        width: 95%;
        left: 0.5rem;
        right: auto;
    }
    body .ex {
        margin-top: 2rem;
        width: 95%;
        min-height: 300px;
        left: 0.5rem;
        right: auto;
    }
    body .proj {
        margin-top: 2rem;
        width: 95%;
        min-height: 300px;
        left: 0.5rem;
        right: auto;
    }
    body .main {
        min-height: 800px;
    }
    .first_parth {
        top: -4rem;
        left: 0;
        width: 95%;
        min-height: 700px;
    }
    .personal_info {
        width: 45%;
        top: 2rem;
        left: 0;
        right: auto;
    }
    .skills {
        width: 54%;
        min-height: 220px;
        top: 2rem;
        right: 0;
    }
    .first_parth .hobbies {
        width: 55%;
        height: max-content;
        top: 27.7rem;
        right: 0;
    }
    .first_parth .language {
        width: 44%;
        min-height: 308px;
        top: 23rem;
        left: 0;
    }
    .first_parth .language ul li {
        display: inline-block;
    }
    .but_on {
        left: 0.2rem;
        width: 98%;
    }
}